* {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}
.cont {
  display: flex;
  justify-content: space-between;
}
.box,
button,
input {
  padding: 15px 20px;
  font-size: 20px;
}
button,
input {
  margin: 20px 20px;
  border-radius: 8px;
  border: 1px solid white;
}
.btn1 {
  color: black;
  background-color: white;
}
.btn1:hover {
  cursor: pointer;
}
.btn1:active {
  transform: scale(0.98);
}

a {
  text-decoration: none;
}

.prd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid white;
  margin: 40px 2px;
  padding: 50px 3px;
  /* min-width: 10vw; */
  width: 25vw;
  /* width: 200px; */
  height: 60vh;
}
#result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.prd1 {
  width: 95%;
}
